@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');


body {
    font-family: "roboto", "sans-serif";
}

header {
    font-family: "shrikhand", "sans-serif";
    text-align: center;
    box-shadow: 0px 3px 3px 1px grey;
    position: relative;
}
h1 {
    margin: 0px;
}

main .city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    text-align: center;
}


